<footer class="fr-footer" id="footer">
	<div class="fr-container">
		<div class="fr-footer__body">
			<div class="fr-footer__brand fr-enlarge-link">
				<a
					title="Retour à l’accueil du site - Green Data For Health (Ministère de la transition écologique et la cohésion des territoires)"
					href="/"><p class="fr-logo">
						Ministère de<br />
						la transition<br />
						écologique et<br />
						de la cohésion<br />
						des territoires
					</p></a>
			</div>
			<div class="fr-footer__content">
				<h2 class="fr-footer__content-desc">
					Le Green Data for Health (CGDD/Ecolab) organise au premier semestre 2023 un Data Challenge visant à développer
					des outils permettant de mieux mobiliser la donnée environnementale en santé-environnement. Cette page est
					dédiée à ce Challenge.
				</h2>
				<ul class="fr-footer__content-list">
					<li class="fr-footer__content-item">
						<a
							class="fr-footer__content-link"
							rel="noreferrer"
							target="_blank"
							href="https://legifrance.gouv.fr">legifrance.gouv.fr<span class="sr-only">
								ouverture d'une nouvelle fenêtre</span></a>
					</li>
					<li class="fr-footer__content-item">
						<a
							class="fr-footer__content-link"
							rel="noreferrer"
							target="_blank"
							href="https://gouvernement.fr">gouvernement.fr<span class="sr-only">
								ouverture d'une nouvelle fenêtre</span></a>
					</li>
					<li class="fr-footer__content-item">
						<a
							class="fr-footer__content-link"
							rel="noreferrer"
							target="_blank"
							href="https://service-public.fr">service-public.fr<span class="sr-only">
								ouverture d'une nouvelle fenêtre</span></a>
					</li>
					<li class="fr-footer__content-item">
						<a
							class="fr-footer__content-link"
							rel="noreferrer"
							target="_blank"
							href="https://data.gouv.fr">data.gouv.fr<span class="sr-only"> ouverture d'une nouvelle fenêtre</span></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="fr-footer__bottom">
			<ul class="fr-footer__bottom-list">
				<li class="fr-footer__bottom-item">
					<a target="_self" class="fr-footer__bottom-link" href="plan_site">Plan du site</a>
				</li>
				<li class="fr-footer__bottom-item">
					<a target="_self" class="fr-footer__bottom-link" href="accessibilite">Accessibilité : non conforme</a>
				</li>
				<li class="fr-footer__bottom-item">
					<a target="_self" class="fr-footer__bottom-link" href="mentions_legales">Mentions légales</a>
				</li>
				<li class="fr-footer__bottom-item">
					<a target="_self" class="fr-footer__bottom-link" href="donnees_personnelles">Données personnelles et cookies</a>
				</li>
				<li class="fr-footer__bottom-item">
					<a
						class="fr-footer__bottom-link"
						href="https://stats.challenge.gd4h.ecologie.gouv.fr/index.php?idSite=1"
						rel="noreferrer"
						target="_blank">Statistiques</a>
				</li>
				<li class="fr-footer__bottom-item">
					<a
						class="fr-footer__bottom-link"
						href="https://gitlab.com/challenge-gd4h/vitrine-challenge-gd-4-h"
						rel="noreferrer"
						target="_blank">Code source</a>
				</li>
			</ul>
			<div class="fr-footer__bottom-copy">
				<p>
					Site construit avec
					<a href="https://gitlab.com/jailbreak/vitrine" rel="noreferrer" target="_blank">Vitrine<span
							class="sr-only">ouverture d'une nouvelle fenêtre</span></a>. Sauf mention contraire, tous les contenus de
					ce site sont sous
					<a
						href="https://www.etalab.gouv.fr/wp-content/uploads/2017/04/ETALAB-Licence-Ouverte-v2.0.pdf"
						rel="noreferrer"
						target="_blank">licence etalab-2.0<span class="sr-only"> ouverture d'une nouvelle fenêtre</span></a>
				</p>
			</div>
		</div>
	</div>
</footer>
