<script>
	export let html
	export let title
	export let url
	export let isQuery
	export let milieu
	export let raw
	export let text
	export let backgroundColor

	import ZoneButton from "./ZoneButton.svelte"
	import FormattedHtml from "./FormattedHtml.svelte"

	let buttonReturn
	let buttonForum
	if (isQuery) {
		html = `<h1>${title}</h1>` + html
		buttonForum = { title: "Accéder au forum", url: url, openTab: true }
		buttonReturn = { title: "Retour", url: "https://challenge.gd4h.ecologie.gouv.fr/defis" }
	}

	if (milieu) {
		html = html.replace(
			/<div class="lightbox-wrapper">([\s\S]*?)<\/div>/,
			`<img src="banderoles/${milieu}-banderole.jpg" alt="${milieu}" />`,
		)
	}

	// Youtube links
	html = html.replace(
		/<div class="youtube-onebox lazy-video-container"([\s\S]*?)<\/div>/,
		"<center><i>Cliquez sur l'image ci-dessous pour regardez la vidéo</i></center>$&",
	)

</script>

<div style={backgroundColor ? `background-color: ${backgroundColor}` : null} class="rounded">
	{#if text}
		{text}
	{:else if html}
		{#if raw}
			{@html html}
		{:else}
			<FormattedHtml {html} />
		{/if}
	{/if}
	<br />
	<div style="display: flex; flex-direction: row; justify-content: space-between;">
		{#if isQuery}
			<ZoneButton {...buttonReturn} />
		{/if}
		{#if isQuery}
			<ZoneButton {...buttonForum} />
		{/if}
	</div>
</div>
