<script>
	export let html

	import { onMount } from "svelte"

	onMount(async () => {
		// force load of widget if html contains "twitter"
		if (html.includes("twitter") && window.twttr) {
			window.twttr.widgets.load()
		}
	})

</script>

<div class="prose">
	{@html html}
</div>

<style global>
	.prose a {
		/* text-larem-blue-600 */
		color: #000091;
		text-decoration: none;
	}

	.prose a:hover {
		color: #1212ff;
	}

	.prose a:active {
		/* underline */
		color: #2323ff;
	}

	.prose blockquote {
		background-color: rgb(249, 249, 249);
		border-left: 0.3rem solid #e67a74;
		color: #383737;
		font-family: Courier, Georgia, Cambria, "Times New Roman", Times, serif;
		line-height: 1.3rem;
		margin: 1.1rem 1rem;
		padding: 0.8rem 1.1rem 0.8rem 1.1rem;
	}

	.prose blockquote p {
		margin: 0px;
		padding: 0px;
	}

	.prose div.meta {
		display: none;
	}

	.prose em {
		line-height: 1.5rem;
		color: rgb(80, 80, 80);
		padding-bottom: 1.5rem;
	}

	.prose h1 {
		color: #161616;
		font-size: 40px;
		line-height: 48px;
		font-family: Marianne, arial, sans-serif;
		margin-bottom: 24px;
	}

	.prose h2 {
		color: #161616;
		font-size: 32px;
		line-height: 40px;
		font-family: Marianne, arial, sans-serif;
		margin-bottom: 24px;
	}

	.prose h3 {
		color: #161616;
		font-size: 28px;
		line-height: 36px;
		font-family: Marianne, arial, sans-serif;
		margin-bottom: 24px;
	}

	.prose h4 {
		color: #161616;
		font-size: 24px;
		line-height: 32px;
		font-family: Marianne, arial, sans-serif;
		margin-bottom: 24px;
	}

	.prose h5 {
		color: #161616;
		font-size: 22px;
		line-height: 28px;
		font-family: Marianne, arial, sans-serif;
		margin-bottom: 24px;
	}

	.prose h6 {
		color: #161616;
		font-size: 20px;
		line-height: 28px;
		font-family: Marianne, arial, sans-serif;
		margin-bottom: 24px;
	}

	.prose img {
		margin: 0 auto;
	}

	.prose li {
		/* ml-2 */
		margin-left: 0.5rem;
		color: #3a3a3a;
		margin: 0px;
		font-size: 16px;
		line-height: 24px;
		font-family: Marianne, arial, sans-serif;
	}

	/* .prose mark, .prose span {
    background-color: #fff9ca;
    color: black;
    line-height: 1.5rem;
    padding: 0rem 0.4rem;
  } */

	.prose ol {
		margin-bottom: 1rem;
		margin-left: 1.5rem;
		margin-top: 1rem;
		list-style-type: decimal;
	}

	.prose p {
		color: #3a3a3a;
		margin: 0px;
		font-size: 16px;
		line-height: 24px;
		font-family: Marianne, arial, sans-serif;
		margin-bottom: 24px;
	}

	.prose strong {
		color: black;
		font-weight: bold;
	}

	.prose ul {
		margin-bottom: 1rem;
		margin-left: 1.5rem;
		margin-top: 1rem;
		list-style-type: disc;
	}

	.prose .emoji {
		height: 1rem;
	}

</style>
