<script>
	export let button
	export let data
	export let index
	export let title = null
	export let slug = null
	export let backgroundImage = null
	export let backgroundColor = null
	export let containerClasses = null

	import Source from "./Source.svelte"
	import ZoneButton from "./ZoneButton.svelte"

	let style = ""
	let classZone = null

	if (backgroundImage) {
		style = `background-image: url(${backgroundImage});`
		classZone = "bg-cover bg-no-repeat bg-center"
	}

</script>

<div id={slug} {style} class={classZone}>
	{#if index > 0}
		<hr class="my-5 container mx-auto" />
	{/if}
	<div class={index > 0 ? 'my-16' : null}>
		{#if title}
			<a href={slug ? `#${slug}` : null}>
				<h2
					class="my-8 text-center text-3xl"
					style="color: #161616; font-size: 28px; line-height: 32px; font-family: Marianne,arial,sans-serif;; margin-bottom:12px;">
					{title}
				</h2>
			</a>
		{/if}
		<div class={containerClasses}>
			<Source {...data[index]} {backgroundColor} />
			{#if button}
				<ZoneButton {...button} />
			{/if}
		</div>
	</div>
</div>
